@use "../../App.scss" as App;
@import "../../App.scss";

.bigWrapper {
  // background-image: url("../../../public/images/main4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: max-content;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header {
  @include headerh3;
  margin-top: 300px;
}
.text {
  @include bigP;
  margin-top: 10px;
}

.shadow form {
  margin-top: 50px;
}
.formBlock {
  display: flex;
}
.formInputBlock {
  display: flex;
  flex-direction: column;
  position: relative;
}
.formInput {
  margin: 15px 10px;
  height: 40px;
  padding: 8px 15px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.submitInput {
  background-color: App.$orange;
  margin: 15px 10px;
  height: 60px;
  color: white;
  padding: 8px 20px;
  border: 2px solid App.$orange;
  border-radius: 3px;
  cursor: pointer;
}
.confidential {
  font-size: 12px;
  margin-bottom: 300px;
  margin-top: 20px;
}

.confidential a {
  color: App.$orange;
}

@media screen and (max-width: 865px) {
  .header {
    font-size: 38px;
    margin-top: 100px;
  }
  .text {
    font-size: 16px;
    text-align: center;
  }
  .formBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .formInputBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formInput {
    width: 80%;
  }
  .confidential {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 665px) {
  .header {
    font-size: 24px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    text-align: center;
    width: 80%;
  }
  .confidential {
    width: 80%;
    text-align: center;
  }
}
.textError {
  color: red;
  font-size: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: -8px;
  font-weight: 400;
}
